@using StudentEducationCenter.Data.Models;
@model List<Teacher>

<h2>Списък с учители</h2>
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light" style="--bs-bg-opacity:0; padding:0;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" style="margin:0">
                    <a class="nav-link"><strong>Сортирай по:</strong></a>
                </li>
                <li class="nav-item" style="margin:0">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        @if (ViewBag.SortByName != null)
                        {
                            if (ViewBag.SortByName == true)
                            {
                                <a asp-controller="Teacher" asp-action="Index" asp-route-sortByName="@false" class="btn btn-dark">Име (фамилия, собствено име)</a>
                            }
                            else
                            {
                                <a asp-controller="Teacher" asp-action="Index" asp-route-sortByName="@true" class="btn btn-dark">Име (собствено име, фамилия)</a>
                            }
                        }
                        else
                        {
                            <a asp-controller="Teacher" asp-action="Index" asp-route-sortByName="@true" class="btn btn-outline-dark">Име</a>
                        }
                    </div>
                </li>
            </ul>
            @{
                string? searchInput = ViewBag.SearchInput;
                if (string.IsNullOrEmpty(searchInput))
                {
                    searchInput = "";
                }
                <form id="searchForm" class="d-flex" style="margin-right:80px" action="Index" method="get">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item" style="margin:0">
                            <input id="searchInput" name="searchInput" class="form-control me-sm-2" type="search" placeholder="Търсене по име..." value="@searchInput">
                        </li>
                        <li class="nav-item" style="margin:0">
                            <button id="searchButton" type="submit" asp-action="Index" asp-controller="Teacher" class="btn btn-light">Търси</button>
                        </li>
                    </ul>
                </form>
            }
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light" style="--bs-bg-opacity:0;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" style="margin:0">
                    <a class="nav-link"><strong>Филтрирай по:</strong></a>
                </li>
                <li class="nav-item dropdown" style="margin:0">
                    @if (ViewBag.CityId != 0)
                    {
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>Градове</strong></a>
                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Градове</a>
                    }
                    <div class="dropdown-menu" style="">
                        <h6 class="dropdown-header">Избери град</h6>
                        @foreach (var city in ViewBag.Cities)
                        {
                            int index = int.Parse(city.Value);
                            if (ViewBag.CityId == index)
                            {
                                <a asp-controller="Teacher" asp-action="Index" asp-route-cityId="@index" class="dropdown-item"><strong>@city.Text</strong></a>
                            }
                            else
                            {
                                <a asp-controller="Teacher" asp-action="Index" asp-route-cityId="@index" class="dropdown-item">@city.Text</a>
                            }
                        }
                    </div>
                </li>
                <li class="nav-item dropdown" style="margin:0">
                    @if (ViewBag.SpecialtyId != 0)
                    {
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><strong>Специалности</strong></a>
                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Специалности</a>
                    }
                    <div class="dropdown-menu" style="">
                        <h6 class="dropdown-header">Избери специалност</h6>
                        @foreach (var specialty in ViewBag.Specialties)
                        {
                            int index = int.Parse(specialty.Value);
                            if (ViewBag.SpecialtyId == index)
                            {
                                <a asp-controller="Teacher" asp-action="Index" asp-route-specialtyId="@index" class="dropdown-item"><strong>@specialty.Text</strong></a>
                            }
                            else
                            {
                                <a asp-controller="Teacher" asp-action="Index" asp-route-specialtyId="@index" class="dropdown-item">@specialty.Text</a>
                            }
                        }
                    </div>
                </li>
            </ul>
            <div class="d-flex" style="margin-right:80px">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" style="margin:0">
                        <a asp-controller="Teacher" asp-action="Index" class="btn btn-outline-danger">Премахни филтри</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="card-deck">
    @foreach (var teacher in Model)
    {
        <div class="card border-light mb-3" style="width: 18rem; margin-bottom: 20px;">
            <div class="card-body">
                <div>
                    <h5 class="card-header">@($"{teacher.User.FirstName} {teacher.User.LastName}")</h5>
                    <p class="card-text">Град <strong>@teacher.User.City.Name</strong></p>
                    @if (teacher.TeacherSpecialties != null)
                    {
                        <p class="card-text">Специланости: <strong>@($"{string.Join(", ", teacher.TeacherSpecialties.Select(x => x.Specialty.Name))}")</strong></p>
                    }
                </div>

                <div class="card-buttons">
                    <a asp-controller="Teacher" asp-action="Info" asp-route-teacherId="@teacher.Id" class="btn btn-outline-info">Информация</a>
                    @if (User.IsInRole("Admin") ||
                   (User.IsInRole("Teacher") && User.Identity?.Name == teacher.User.Email))
                    {
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@teacher.Id" asp-route-role="Teacher" class="btn btn-warning">Редактиране</a>
                        <a href="#" onclick="confirmDelete('@teacher.User.FirstName', '@teacher.User.LastName', '@teacher.Id')" class="btn btn-danger">Изтриване</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div>
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.PageCount; i++)
        {
            if (ViewBag.Page == i)
            {
                <li class="page-item active">
                    @{
                        if (ViewBag.SortByName != null)
                        {
                            <a asp-controller="Teacher" asp-action="Index" asp-route-page="@i" asp-route-sortByName="@ViewBag.SortByName" class="page-link">@i</a>
                        }
                        else if (ViewBag.CityId != 0)
                        {
                            <a asp-controller="Teacher" asp-action="Index" asp-route-page="@i" asp-route-cityId="@ViewBag.CityId" class="page-link">@i</a>
                        }
                        else if (ViewBag.SpecialtyId != 0)
                        {
                            <a asp-controller="Teacher" asp-action="Index" asp-route-page="@i" asp-route-SpecialtyId="@ViewBag.SpecialtyId" class="page-link">@i</a>
                        }
                        else
                        {
                            <a asp-controller="Teacher" asp-action="Index" asp-route-page="@i" class="page-link">@i</a>
                        }
                    }
                </li>
            }
            else
            {
                <li class="page-item">
                    @{
                        if (ViewBag.SortByName != null)
                        {
                            <a asp-controller="Teacher" asp-action="Index" asp-route-page="@i" asp-route-sortByName="@ViewBag.SortByName" class="page-link">@i</a>
                        }
                        else if (ViewBag.CityId != 0)
                        {
                            <a asp-controller="Teacher" asp-action="Index" asp-route-page="@i" asp-route-cityId="@ViewBag.CityId" class="page-link">@i</a>
                        }
                        else if (ViewBag.SpecialtyId != 0)
                        {
                            <a asp-controller="Teacher" asp-action="Index" asp-route-page="@i" asp-route-SpecialtyId="@ViewBag.SpecialtyId" class="page-link">@i</a>
                        }
                        else
                        {
                            <a asp-controller="Teacher" asp-action="Index" asp-route-page="@i" class="page-link">@i</a>
                        }
                    }
                </li>
            }
        }

    </ul>
</div>

@if (User.IsInRole("Admin"))
{
    <a asp-controller="User" asp-action="RegisterStaff" asp-route-role="Teacher" class="btn btn-primary">Регистриране на нов служител</a>
}

@section Scripts{
    <script>
        function confirmDelete(firstName, lastName, teacherId) {
            var result = confirm("Сигурни ли сте, че искате да изтриете всички данни на учителя " + firstName + " " + lastName + "?");
            if (result) {
                window.location.href = '/Teacher/Delete?teacherId=' + teacherId;
            }
        }
    </script>
}